body {
    font-family: sans-serif;
    margin-top: 75px;
    margin-left: 3cm;
    margin-right: 3cm
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
 
}

